@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixins/mixins.scss' as mixins;

.capacity-picker {
  .capacity-selector {
    &__button {
      box-sizing: border-box;
      padding: variables.$smaller-gap;

      &.is-active {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: var(--bg-color);
      }
    }
  }
}
