@use '../../styles/variables' as variables;

.product-slider {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: variables.$gap;
  }

  &__buttons {
    display: flex;
    gap: variables.$small-gap;
  }

  .swiper {
    position: relative;
    width: variables.$max-container-width;
  }
}
