@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins/mixins.scss' as mixins;

.burger-menu {
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: variables.$bg-color;
    transform: translateY(-100%);
    transition: all 800ms ease;

    @include mixins.on-tablet {
        display: none;
    }

    &.is-active {
        transform: translateY(0);
    }

    &__container {
        flex: 1;
        height: 100%;
        justify-content: space-between;
    }

    .nav {
        margin-top: calc(variables.$header-size * 2);

        &__list {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: variables.$medium-gap;
        }

        &__item {
            position: relative;
        }

        .is-active {
            color: variables.$primary-color;

            &::after {
                content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: variables.$primary-color;
            border-radius: variables.$border-radius;
            height: variables.$border-height;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 100%;
        height: 100%;
        border: 1px solid variables.$elements-color;
    }
}