@use '../../styles/variables.scss' as variables;
@use '../../styles/fonts.scss' as fonts;

.product-card {
  display: flex;
  flex-direction: column;
  width: variables.$card-width;
  padding: variables.$gap;
  border: 1px solid variables.$elements-color;
  border-radius: variables.$border-radius;
  background-color: variables.$bg-color;
  transition: all variables.$fast-animation-duration ease-out;
  transform: scale(0.98);

    
  &:hover {
    transform: scale(1);
    box-shadow: 0 2px 16px 0 #0000001a;
  }

  &__image {
    scale: 1;
    object-fit: contain;
    margin-bottom: variables.$small-gap;
    aspect-ratio: 1 / 1;
    transition: transform variables.$fast-animation-duration ease-out;
  }
  
  &__image:hover {
    transform: scale(1.05);
  }

  &__title {
    margin-bottom: variables.$smaller-gap;
  }

  &__price {
    position: relative;
    display: flex;
    gap: 8px;
    margin-bottom: variables.$small-gap;

    &::after {
      content: '';
      position: absolute;
      bottom: - variables.$smaller-gap;
      width: 100%;
      height: 1px;

      background-color: variables.$elements-color;
    }
  }

  &__full-price {
    position: relative;
    color: variables.$secondary-color;
    font-family: fonts.$main-font;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);

      height: 1.8px;
      background-color: variables.$secondary-color;
      mix-blend-mode: color-dodge;
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: variables.$smaller-gap;
    margin-bottom: variables.$small-gap;
  }

  &__characteristic {
    display: flex;
    justify-content: space-between;
  }

  &__characteristic-name {
    color: variables.$secondary-color;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$smaller-gap;
    align-items: center;
    justify-content: space-between;
  }
  
}

.button-add {
  flex: 1;
}

.button-favourite {
  width: variables.$button-height;
  height: variables.$button-height;
  background: variables.$bg-color url('/icons/Favourites (Heart Like).svg') center / 16px no-repeat;
  transition: background-color 0.3s, border-color 0.3s;

  &--selected {
    background-image: url('/icons/Favourites\ Filled\ \(Heart\ Like\).svg');
  }
}