@use './variables' as variables;
@use './fonts' as fonts;
@use './mixins/mixins.scss' as mixins;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: fonts.$main-font, sans-serif;
  line-height: variables.$line-height-text;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
  cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: variables.$hover-color;

    &__container {
      @include mixins.container {
        flex-direction: column;
      }
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-size-text;
    transition: all 300ms ease;

    &__icon {
      color: variables.$secondary-color;
      transition: all 300ms ease;
    }

    &--primary {
        height: variables.$button-height;
        color: variables.$bg-color;
        line-height: variables.$line-height-text;
        border-radius: variables.$border-radius;
        background-color: variables.$accent-color;
        padding: 0 variables.$smaller-gap;

        &--selected {
          background-color: variables.$bg-color;
          color: variables.$accent-color;
          border: 1px solid #B4BDC3;
        }

        &:hover {
          box-shadow: variables.$shadow-color 0px variables.$tiny-gap variables.$shadow-blur;
        }
    }

    &--secondary {
        border: 1px variables.$icons-color solid ;
    }

    &--round {
        width: variables.$button-height-small;
        height: variables.$button-height-small;
        border-radius: 100%;
        border-radius: variables.$button-height-small;

        &:hover {
          border-color: variables.$primary-color;
        }

        &:hover .button__icon   {
          color: variables.$primary-color;
        }
    }

    &--long {
      height: 100%;
    }

    &--disabled {
      border-color: variables.$elements-color;
    }
}

.nav {
    font-family: fonts.$bold-font, sans-serif;
    text-transform: uppercase;
    font-size: variables.$font-size-text-small;
    color: variables.$secondary-color;

    &__list {
      display: flex;
    }

    &__item {
      display: flex;
      align-items: center;
      transition: color 300ms ease;
    }

    &__item:hover {
      color: variables.$primary-color;
    }
}

.headline--1 {
  font-family: fonts.$bold-font, sans-serif;
  font-size: variables.$font-size-h2;
  line-height: variables.$line-height-h2;

  @include mixins.on-tablet {
    font-size: variables.$font-size-h1;
    line-height: variables.$line-height-h1;
  }
}

.headline--2 {
  font-family: fonts.$bold-font, sans-serif;
  font-size: variables.$font-size-h3;
  line-height: variables.$line-height-h3;

  @include mixins.on-tablet {
    font-size: variables.$font-size-h2;
    line-height: variables.$line-height-h2;
  }
}

.headline--3 {
  font-family: fonts.$bold-font, sans-serif;
  font-size: variables.$font-size-h3;
  line-height: variables.$line-height-h3;
}

.headline--4 {
  font-family: fonts.$semi-bold-font, sans-serif;
  font-size: variables.$font-size-h4;
  line-height: variables.$line-height-h4;
}

.small-text {
  font-size: variables.$font-size-text-small;
}

.swiper {
  width: 100%;

  &-slide, .banner-slider__slide{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &-button-disabled {
      opacity: 0.3;
  }


  &-pagination {
      margin-top: variables.$small-gap;
      display: flex;
      gap: variables.$small-gap;
      align-items: center;
      justify-content: center;
  
     &-bullet {
          display: block;
          width: variables.$bullet-point-size;
          height: variables.$bullet-point-height;
          background-color: variables.$elements-color;
          border-radius: variables.$bullet-point-size;
  
          &-active {
              background-color: variables.$primary-color;
          }
     }
  }
}