@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/fonts' as fonts;

.cart-item {
  width: 100%;
  height: 160px;
  background-color: variables.$bg-color;
  border: 1px solid variables.$elements-color;
  border-radius: variables.$border-radius;
  padding: variables.$small-gap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 752px;
    height: 128px;
    padding: variables.$medium-gap;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: variables.$small-gap;

    margin: 0;

    @media (min-width: 640px) {
      gap: variables.$medium-gap;
    }
  }

  &__phone-image {
    min-width: variables.$card-image-size;
    height: variables.$card-image-size;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__phone-img {
    height: 100%;
  }

  &__title {
    font-family: fonts.$main-font;
    font-size: variables.$font-size-text;
    color: variables.$primary-color;

    @media (min-width: 640px) {
      margin-right: variables.$medium-gap;
    }
  }

  &__counter {
    width: variables.$counter-width;
    height: variables.$counter-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // &__button {
  //   border: 1px solid variables.$elements-color;

  //   &:hover {
  //     background-color: #f5f5f5;
  //   }
  // }

  &__count-text {
    font-size: variables.$font-size-text-small;
  }

  &__price {
    font-family: fonts.$bold-font;
    font-size: variables.$font-size-h3;
    margin-left: variables.$small-gap;
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: variables.$tiny-gap;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
