@use '../../styles/variables' as variables; 


.footer {
    width: 100%;
    padding: variables.$gap 0;

    &__container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        @media (max-width: 639px) {
            display: grid;
            grid-template-rows: repeat(3, auto);
            grid-template-columns: 1fr;
            gap: variables.$gap;
        }
    }

    &__back-to-top {
        display: flex;
        align-items: center;

        @media (max-width: 639px) {
            justify-content: center;
        }
    }

    &__back-to-top-text {
        color: variables.$secondary-color;
        font-size: variables.$font-size-text-small;
    }

    &__back-to-top-button {
        margin-left: variables.$small-gap;
    }

    .nav {

        &__list {
            display: flex;
            align-items: center;
            gap: variables.$large-gap;
    
            @media (max-width: 1199px) and (min-width: 640px) {
                gap: variables.$gap;
            }
    
            @media (max-width: 639px) {
                justify-content: center;
                align-items: start;
                flex-direction: column;
                gap: variables.$small-gap;
            }
        }
    }
}
