@use '../../styles/variables' as variables; 


.footer {
    width: 100%;
    padding: variables.$gap 0;

    &__container {
        justify-content: space-between;
        align-items: center;

        @media (max-width: 639px) {
            display: grid;
            grid-template-rows: repeat(3, auto);
            grid-template-columns: 1fr;
            gap: variables.$gap;
        }
    }

    &__back-to-top {
        display: flex;
        align-items: center;

        @media (max-width: 639px) {
            justify-content: center;
        }
    }

    &__back-to-top-text {
        color: variables.$secondary-color;
        font-size: variables.$font-size-text-small;
    }

    &__back-to-top-button {
        margin-left: variables.$small-gap;
    }
}

.nav {

    &__list--footer {
        display: flex;
        align-items: center;

        @media (max-width: 639px) {
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }
    }

    &__item:not(:first-child) {
        margin-left: variables.$big-gap;

        @media (max-width: 1199px) {
            margin-left: variables.$gap;
        }

        @media (max-width: 639px) {
            margin-left: 0px;
            margin-top: variables.$small-gap;
        }
    }
}
