@use '../variables.scss' as variables;

@mixin on-tablet {
  @media (min-width: variables.$min-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$min-desktop-width) {
    @content;
  }
}

@mixin container {
  max-width: 90%;
  @content;

  @include on-desktop {
    max-width: variables.$max-container-width;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: variables.$small-gap;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}
