@use '../variables.scss' as variables;

@mixin on-tablet {
  @media (min-width: variables.$min-tablet-width) {
    @content;
  }
}

@mixin on-large-tablet {
  @media (min-width: variables.$max-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$min-desktop-width) {
    @content;
  }
}

@mixin container {
  max-width: 90%;
  @content;

  @include on-desktop {
    max-width: variables.$max-container-width;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: variables.$small-gap;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
  }
}

// TO DO: REMOVE THAT TEST MIXINS!!!!!!!!

@mixin border {
  border: 1px solid variables.$elements-color;
}

@mixin shadow {
  box-shadow: 0 2px 16px 0 #0000001a;
}

// TO DO: Create more animations (?)

@mixin smooth-transition($property) {
  transition: $property variables.$fast-animation-duration ease;
}